@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BurgerDV</h1>
    <a asp-action="Index" asp-controller="BurgerDVs" class="btn btn-primary">Menú</a>
</div>
